.modal {
  display: block;
  margin: auto;
  width: 340px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  top: -200px;
  visibility: hidden;
  opacity: 0;

  transition: top 1s, opacity 1s, visibility 0.1s ease 1s;

  &-show {
    transition: top 1s, opacity 1s;
    visibility: visible;
    top: 0;
    opacity: 1;
  }

  &-cup {
    display: block;
    margin: 40px auto 0;
  }

  &-title {
    margin-top: 30px;
    font-size: 30px;
  }

  &-text {
    margin-top: 25px;
    font-size: 18px;
  }

  &-footer {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;
    width: 100%;
    padding: 0;
    border: none;

    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  }

  &-btn {
    background-color: $lightGreen;
    margin: 0;

  }
}