.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center-hv {
  display: flex;
  justify-content: center;
}

.flex-v-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-v-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}